# Database Connection (Supabase / Neon / PostgreSQL / MongoDB)
DATABASE_URL="postgresql://user:password@localhost:5432/mobileshop?schema=public"

# Store Details
NEXT_PUBLIC_STORE_NAME="Apple Heaven Mobile Accessories"
NEXT_PUBLIC_STORE_PHONE="+92 333 0545222"
NEXT_PUBLIC_STORE_EMAIL="support@appleheaven.com"
NEXT_PUBLIC_CURRENCY_SYMBOL="Rs. "
